<!DOCTYPE html>
<html>
  <head>
    <title>RailsPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header">
        <% if signed_in? %>
        <h1 class="email">Signed in as: <%= current_user.email %></h1>
        <%= button_to 'Sign out', sign_out_path, class: 'sign_out', method: :delete %>
        <% else %>
        <%= link_to 'Sign in', sign_in_path %>
        <% end %>
      </div>
    </header>
    <section>
      <div id="flash">
        <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
    </section>
    <div class="center">
      <%= yield %>
    </div>
  </body>
</html>
